body {
    color: #3b3a3a;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

}


/*.slidebar*/
.line-box-container {
    display: flex;
    position: absolute;
    background: #014282;
    min-height: calc(100vh - 125px);
    width: 275px !important; /*75-закрытое, 275-открытое*/
    height: 100%; 

    left: 0; /* Начало от левого края экрана */
    top: 0; /* Начало от верхнего края экрана */
}


.line-box {
    /*
    background: #014282;
    min-height: calc(100vh - 125px);
    width: 275px !important;
    height: 100%; 
    position: relative; 
    */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    justify-content: stretch;
    

}

.buttons {
    margin-left: 10px; /* Промежуток между линией и кнопками */
    display: flex;
    flex-direction: column; /* Кнопки будут располагаться по вертикали */
}

.button {
    margin-bottom: 5px; /* Промежуток между кнопками */
}
