#scrollbar-menu {
    overflow-y: auto;
}


.sidebar {
    float: left;
    background: #014282;
    width: 275px;
    min-height: calc(100vh - 125px);
    -webkit-transition: width .2s;
    -o-transition: width .2s;
    transition: width .2s;
    overflow: hidden;
    overflow-y: hidden;
    padding-bottom: 40px;

  }

.scrollbar-content {
    width: 275px;
    
    
}
